body {
  background-color: #e4f1fe;
  font-family: "Roboto", sans-serif;
}

.welcome {
  margin: 0;
}

.container {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.09);
  border-radius: 17px;
}
