body {
  background-color: #e4f1fe;
  font-family: "Roboto", sans-serif;
}

.welcome {
  margin: 0;
  text-align: center;
}

.container {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.09);
  border-radius: 17px;
}

header {
  border-bottom: 1px solid #e4f1fe;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #e4f1fe;
  border: none;
  border-radius: 8px;
  width: 80%;
  padding: 15px 20px;
  font-size: 14px;
}

.search-form-button {
  background: #3793e3;
  color: white;
  padding: 15px 30px;
  margin-left: 5px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
}

footer {
  border-top: 1px solid #e4f1fe;
  padding: 30px 0 0 0;
}
